body {
    font-family: 'Open Sans', sans-serif;
    background-color: #20176f;
    outline: none;
}

#topBar {
    height: 24px;
    -webkit-user-select: none;
    -webkit-app-region: drag;
}

#trimm-download, #trimm-upload {
    width: 100%;
    display: inline-inline-block;
}

#trimm-download {
    float: left;
}

.searchItem:hover  p{
    background-color: hsla(0, 0%, 100%, .18);
    cursor: pointer;
    border-radius: 5px;
}

.searchItem {
    width: 100%;
}

.searchItem p {
    width: 100%;
    font-size: 13px;
    padding: 4px 0px;
    margin: 0;
    margin-top: 3px;
}

#results {
    width: 100%;
}

h2 {
    font-weight: 400;
    color: white;
    margin: 0px;
}

p {
    font-weight: 400;
    color: white;
}

button {
    background-color: #614cdb;
    border:none;
    color: white;
    border-radius: 5px;
    padding: 6px 6px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    outline: none;
}

button:hover {
    cursor: pointer;
}

input[type=file] {
    font-family: 'Open Sans', sans-serif;
}

input[type=submit] {
    background-color: #614cdb;
    border:none;
    color: white;
    border-radius: 5px;
    padding: 6px 6px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    outline: none;
}

input[type=submit]:hover {
    cursor: pointer;
}

input {
    background-color: #392c9f;
    color: white;
    border: none;
    margin-top: 10px;
    border-radius: 5px;
    font-family: 'Open Sans', sans-serif;
    padding: 6px 4px;
    outline: none;
}

input:placeholder {
    margin-left: 3px;
}

textarea {
    font-family: 'Open Sans', sans-serif;
    background-color: #392c9f;
    color: white;
    border: none;
    margin-top: 10px;
    border-radius: 5px;
    resize: none;
    outline: none;
}

.inputFile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputFile + label {
    font-family: 'Open Sans', sans-serif;
    font-size: 11px;
    font-weight: 400;
    color: white;
    background-color: #614cdb;
    display: inline-block;
    border-radius: 5px;
    padding: 6px 6px;
}

.inputFile + label:hover {
    cursor: pointer;
}

#upload-file-name {
    font-family: 'Open Sans', sans-serif;
    font-size: 11px;
    font-weight: 400;
    color: white;
    display: inline-block;
    padding: 6px 4px;
}
