body {
    font-family: 'Open Sans', sans-serif;
    background-color: #20176f;
}

#trimm-download, #trimm-upload {
    width: 100%;
    display: inline-inline-block;
}

#trimm-download {
    float: left;
}

.searchItem:hover {
    background-color: #DCDCDC;
    cursor: pointer;
}

.searchItem {
    width: 100%;
}

.searchItem p {
    width: 100%;
    font-size: 13px;
}

#results {
    width: 100%;
}

h1 {
    font-weight: 400;
    color: white;
}

p {
    font-weight: 400;
    color: white;
}

button {
    background-color: hsla(0, 0%, 100%, .18);
    border:none;
    color: white;
    border-radius: 5px;
    padding: 6px 4px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

input[type=submit] {
    background-color: hsla(0, 0%, 100%, .18);
    border:none;
    color: white;
    border-radius: 5px;
    padding: 6px 4px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

input {
    background-color: hsla(0, 0%, 100%, .18);
    color: white;
    border: none;
    margin-top: 10px;
    border-radius: 5px;
    font-family: 'Open Sans', sans-serif;
    padding: 6px 4px;
}

input:placeholder {
    margin-left: 3px;
}

textarea {
    font-family: 'Open Sans', sans-serif;
    background-color: hsla(0, 0%, 100%, .18);
    color: white;
    border: none;
    margin-top: 10px;
    border-radius: 5px;
}

#inputFile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
